/*NAVBAR HEADER*/
nav
    min-height: 100px
    background-color: $white
.text-header
    font-size: 20px	
    line-height: 28px	
    text-shadow: 0 2px 34px 0 rgba(0,0,0,0.67)
    color: $gray
    text-transform: uppercase
    margin-right: 34px
.navbar-nav
    li:last-child
        margin-right: 0px

/*END NAVBAR HEADER*/