@font-face
    font-family: 'BaseNeue'
    src: url('../../casanova/html/fonts/BebasNeueLight.ttf'),
    url('../../casanova/html/fonts/BebasNeueLight.eot'),
    url('../../casanova/html/fonts/BebasNeueLight.woff'),
    url('../../casanova/html/fonts/BebasNeueLight.svg')
    font-weight: lighter

@font-face
    font-family: 'BaseNeue'
    src: url('../../casanova/html/fonts/BebasNeueBold.ttf'),
    url('../../casanova/html/fonts/BebasNeueBold.eot'),
    url('../../casanova/html/fonts/BebasNeueBold.woff'),
    url('../../casanova/html/fonts/BebasNeueBold.svg')
    font-weight: bold

@font-face
    font-family: 'BaseNeue'
    src: url('../../casanova/html/fonts/BebasNeueBook.ttf'),
    url('../../casanova/html/fonts/BebasNeueBook.eot'),
    url('../../casanova/html/fonts/BebasNeueBook.woff'),
    url('../../casanova/html/fonts/BebasNeueBook.svg')
    font-weight: 300

@font-face
    font-family: 'BaseNeue'
    src: url('../../casanova/html/fonts/BebasNeue-Thin.ttf'),
    url('../../casanova/html/fonts/BebasNeue-Thin.eot'),
    url('../../casanova/html/fonts/BebasNeue-Thin.woff'),
    url('../../casanova/html/fonts/BebasNeue-Thin.svg')
    font-weight: 100

@font-face
    font-family: 'BaseNeue'
    src: url('../../casanova/html/fonts/BebasNeue.ttf'),
    url('../../casanova/html/fonts/BebasNeue.eot'),
    url('../../casanova/html/fonts/BebasNeue.woff'),
    url('../../casanova/html/fonts/BebasNeue.svg')
    font-weight: 300

@font-face
    font-family: 'BaseNeue'
    src: url('../../casanova/html/fonts/BebasNeueRegular.ttf'),
    url('../../casanova/html/fonts/BebasNeueRegular.eot'),
    url('../../casanova/html/fonts/BebasNeueRegular.woff'),
    url('../../casanova/html/fonts/BebasNeueRegular.svg')
    font-weight: normal


$font-family-baseneue: "BaseNeue", sans-serif